.wrapper {
    position: relative;
    display: inline-block;
    height: 48px;
    width: 100%;
    text-align: center;

    .header-btn {
        margin-right: 10px;
        margin-left: 10px;
        vertical-align: middle;
    }
}